body {
	margin:0;
	text-align: center;
	cursor:progress;
}

#canvas {
	border-bottom:1px solid black;
}

#container {
	height:100px;
	width:100%;
	text-align: center;
	padding-top:1em;
}

#container > * {
	display: block;
	margin:0 auto;
}

#progress {
	width:90vw;
	width:calc(90vw - 16px;)
}
